.header{
    color: red;
    text-align: center;

}
div img{
    height: 10rem;
}
.social-media{
    background-color: red;
    color: white;
    padding-left: 20px;
    border-radius: 15px;
    padding-right: 10px;
    text-align: right;
    height: 10%;
   
    
}
.flex{
    display: flex;
}
.social-media h3{
    text-align: right;
}

.band-manager{
    background-color: red;
    color: white;
    padding-left: 20px;
    border-radius: 15px;
    padding-right: 10px;
    text-align: left;
    

}
.marketing{
    display: flex;
    background-color: red;
    color: white;
    padding-left: 20px;
    border-radius: 15px;
    padding-right: 10px;
    text-align: left;
   
}
.marketing p{
    color: white;
    margin-left: 50px;
}
.marketing img{
    margin-left: 50px;
 
}
@media (max-width:500px){
    .marketing img{
        
    }

}